header{
    background-color: #244751;
    color: #E8FDFF;
    padding-left: 50px;
}
body{
    background-color: whitesmoke;
}
main{
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}
.post .user-info img {
    border-radius: 12%;
}
header{
font-family: 'Oswald', sans-serif;
}
h2:hover{
    color: grey;
    cursor: pointer;
}
.user-info{
    font-family: 'Oswald', sans-serif;
}

